<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/constants.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}"/>

    <!-- Inclui a folha de estilo correta com base no systemType -->
    <link rel="stylesheet" type="text/css"
          th:href="@{${#strings.concat('/css/', @environment.getProperty('systemType'), '-palette.css')}}" />
    <title>Lista de Apartamentos</title>
    <style>
        /* Estilos personalizados */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<div th:insert="~{../static/fragments/nav-bar :: nav}"></div>
<div class="container">
    <div id="alertContainer"></div>
    <h1 class="mt-5">Lista de Apartamentos</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Número</th>
            <th>Bloco</th>
            <th>CPF titular</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="apartment : ${list}">
            <td th:text="${apartment.number}"></td>
            <td th:text="${apartment.block}"></td>
            <td th:text="${apartment.residentOwnerCpf}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{/js/alert.js}"></script>
<script>
    $(document).ready(function() {
        const urlParams = new URLSearchParams(window.location.search);
        const message = urlParams.get('msg');
        const type = urlParams.get('type');
        if (message) {
            showAlert(message, type);
        }
    });
</script>
</body>
</html>
