<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.bundle.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/constants.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}"/>
</head>
<body>
<div th:fragment="nav" class="sidebar">
    <div class="itens">
        <a href="#">
            <span class="material-icons">home</span> Home
        </a>
        <a th:href="@{/reception/view}">
            <span class="material-icons">vpn_key</span> Portaria
        </a>
        <a th:href="@{/suggestion/list}">
            <span class="material-icons">feedback</span> Sugestões
        </a>
        <a th:href="@{/resident/form}">
            <span class="material-icons">people</span> Residentes
        </a>
        <a th:href="@{/condominium/}">
            <span class="material-icons">business</span> Condomínio
        </a>
        <a>
            <span class="material-icons">apartment</span> Apartamentos
        </a>
        <div>
            <a th:href="@{/apartment/}" onclick="removeHashFromUrl()" style="padding-left: 40px;">
                <span class="material-icons">edit</span> Cadastro
            </a>
            <a th:href="@{/apartment/list}" onclick="removeHashFromUrl()" style="padding-left: 40px;">
                <span class="material-icons">list</span> Listar
            </a>
        </div>
    </div>
    <div class="logout">
        <a th:href="@{/logout}" onclick="removeHashFromUrl()">
            <span class="material-icons">logout</span> Sair
        </a>
    </div>
</div>
</body>
</html>
