<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/constants.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}"/>

    <!-- Inclui a folha de estilo correta com base no systemType -->
    <link rel="stylesheet" type="text/css"
          th:href="@{${#strings.concat('/css/', @environment.getProperty('systemType'), '-palette.css')}}" />
    <title>Cadastro de Lugar</title>
</head>
<body>
<div th:insert="~{../static/fragments/nav-bar :: nav}"></div>
<div class="container">
    <h1 class="mt-5" th:text="${systemType == 'condominium' ? 'Cadastro de Condomínio' : (systemType == 'hostel' ? 'Cadastro de Hostel' : 'Cadastro de República')}"></h1>

    <form id="placeForm" th:action="@{/place/cadastrar}" method="post" class="mb-5" th:object="${place}">

        <div class="row mb-3">
            <div class="col">
                <label for="input-name">Nome</label>
                <input type="text" class="form-control" id="input-name" name="name">
            </div>
            <div class="col">
                <label for="input-number">Número</label>
                <input type="text" class="form-control" id="input-number" name="number">
            </div>
            <div class="col" th:if="${systemType == 'hostel' || systemType == 'condominium'}">
                <label for="input-cnpj">CNPJ</label>
                <input type="text" class="form-control" id="input-cnpj" name="cnpj" placeholder="00.000.000/0000-00">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="input-tel">Telefone</label>
                <input type="text" class="form-control" id="input-tel" name="telephoneNumber"  placeholder="(00) 00000-0000">
            </div>
            <div class="col">
                <label for="input-cep">CEP</label>
                <input type="text" class="form-control" id="input-cep" name="zipcode" placeholder="00000-000">
            </div>
            <div class="col">
                <label for="input-rua">Rua</label>
                <input type="text" class="form-control" id="input-rua" name="streetAddress">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="input-bairro">Bairro</label>
                <input type="text" class="form-control" id="input-bairro" name="neighborhood">
            </div>
            <div class="col">
                <label for="input-cidade">Cidade</label>
                <input type="text" class="form-control" id="input-cidade" name="city">
            </div>
            <div class="col">
                <label for="input-estado">Estado</label>
                <input type="text" class="form-control" id="input-estado" name="state">
            </div>
        </div>

        <div class="row mb-3" th:if="${systemType == 'hostel'}">
            <div class="col">
                <label for="input-capacity">Capacidade</label>
                <input type="number" class="form-control" id="input-capacity" name="capacity">
            </div>
            <div class="col">
                <label for="input-qty-rooms">Quantidade de Quartos</label>
                <input type="number" class="form-control" id="input-qty-rooms" name="qtyRooms">
            </div>
            <div class="col">
                <label for="input-owner-cpf">CPF do Proprietário</label>
                <input type="text" class="form-control" id="input-owner-cpf" name="residentOwnerCpf" placeholder="000.000.000-00">
            </div>
        </div>

        <div class="row mb-3" th:if="${systemType == 'republic'}">
            <div class="col">
                <label for="input-qty-rooms">Quantidade de Quartos</label>
                <input type="number" class="form-control" id="input-qty-rooms" name="qtyRooms">
            </div>
            <div class="col">
                <label for="input-rent-price">Preço do Aluguel</label>
                <input type="number" class="form-control" id="input-rent-price" name="rentPrice">
            </div>
        </div>

        <div class="row mb-3" th:if="${systemType == 'condominium'}">
            <div class="col">
                <label for="input-qty-blocks">Quantidade de Blocos</label>
                <input type="number" class="form-control" id="input-qty-blocks" name="qtyBlocks">
            </div>
            <div class="col">
                <label for="input-qty-apartments">Quantidade de Apartamentos</label>
                <input type="number" class="form-control" id="input-qty-apartments" name="qtyApartments">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
<script>
    $(document).ready(function() {
        $('#input-cnpj').mask('00.000.000/0000-00');
        $('#input-owner-cpf').mask('000.000.000-00');
        $('#input-tel').mask('(00) 00000-0000');
        $('#input-cep').mask('00000-000');
    });
</script>
</body>
</html>
