<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Sugestões</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link th:rel="stylesheet" th:href="@{/css/suggestion-list.css}"/>
</head>
<body>
<div th:insert="~{../static/fragments/nav-bar :: nav}"></div>
<div class="container mt-5">
    <div id="alertContainer"></div>
    <div class="card">
        <h2 class="card-header">Vote na melhor Sugestão!</h2>
        <div class="card-body">
            <div th:if="${isHostel}" class="mb-3">
                <button class="btn btn-primary filter-btn" data-filter="all">Todos</button>
                <button class="btn btn-infraestrutura filter-btn" data-filter="infraestrutura">Infraestrutura</button>
                <button class="btn btn-servico filter-btn" data-filter="servico">Serviço</button>
                <button class="btn btn-sugestao filter-btn" data-filter="sugestao">Sugestão</button>
                <button class="btn btn-outro filter-btn" data-filter="outro">Outro</button>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Mensagem</th>
                    <th>Data da Proposta</th>
                    <th>Quantidade de Votos</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="suggestion, iterStat : ${suggestions}" th:class="${isHostel ? 'suggestion-row' : ''}">
                    <td class="icon-container">
                        <i th:if="${isCondominium and iterStat.index < 3}" class="material-icons icon"
                           th:classappend="${iterStat.index == 0 ? 'icon-1' : (iterStat.index == 1 ? 'icon-2' : 'icon-3')}">
                            workspace_premium
                        </i>
                        <span th:text="${suggestion.type}"></span>
                    </td>
                    <td th:text="${suggestion.message}"></td>
                    <td th:text="${#dates.format(suggestion.dataProposta, 'dd/MM/yyyy')}"></td>
                    <td th:text="${suggestion.qtdVotos}"></td>
                    <td>
                        <form sec:authorize="hasRole('ADMIN')" id="deleteForm"
                              th:action="@{'/suggestion/' + ${suggestion.id}}" method="post">
                            <button type="submit" class="btn btn-danger delete-btn">Excluir</button>
                        </form>
                        <form id="voteForm" th:action="@{'/suggestion/' + ${suggestion.id} + '/vote'}" method="post">
                            <button type="submit" class="btn btn-success mt-2 vote-btn">Votar</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
<script th:src="@{/js/alert.js}"></script>
<script>
    $(document).ready(function () {
        var alertMessage = localStorage.getItem('alertMessage');
        var alertType = localStorage.getItem('alertType');
        if (alertMessage && alertType) {
            showAlert(alertMessage, alertType);
            // Clear the message from localStorage
            localStorage.removeItem('alertMessage');
            localStorage.removeItem('alertType');
        }

        $('.delete-btn').click(function (e) {
            e.preventDefault();
            var form = $(this).closest('form');
            var url = form.attr('action');
            $.ajax({
                type: 'DELETE',
                url: url,
                success: function () {
                    form.closest('tr').remove();
                    localStorage.setItem('alertMessage', 'Sugestão excluída com sucesso');
                    localStorage.setItem('alertType', 'success');
                    location.reload();
                },
                error: function (response) {
                    let errorMessage = 'An unknown error occurred';
                    if (response.responseJSON && response.responseJSON.message) {
                        errorMessage = response.responseJSON.message;
                    }
                    showAlert(errorMessage, 'danger');
                }
            });
        });

        $('.vote-btn').click(function (e) {
            e.preventDefault();
            var form = $(this).closest('form');
            var url = form.attr('action');
            $.ajax({
                type: 'PUT',
                url: url,
                success: function () {
                    localStorage.setItem('alertMessage', 'Voto registrado com sucesso');
                    localStorage.setItem('alertType', 'success');
                    location.reload();
                },
                error: function (response) {
                    let errorMessage = 'An unknown error occurred';
                    if (response.responseJSON && response.responseJSON.message) {
                        errorMessage = response.responseJSON.message;
                    }
                    showAlert(errorMessage, 'danger');
                }
            });
        });
    });

    // Função para remover acentos
    function removeAccents(str) {
        return str.normalize('NFD').replace(/[\u0300-\u036f]/g, '');
    }

    // Função para converter para minúsculo e remover acentos
    function transformType(type) {
        return removeAccents(type.toLowerCase());
    }

    document.addEventListener("DOMContentLoaded", function () {
        // Selecione todas as linhas da tabela com a classe 'suggestion-row'
        const rows = document.querySelectorAll('.suggestion-row');

        rows.forEach(row => {
            // Encontre o tipo de sugestão dentro da linha
            const typeElement = row.querySelector('td span');
            if (typeElement) {
                const originalType = typeElement.innerText;
                const transformedType = transformType(originalType);

                // Adicione a classe transformada à linha
                row.classList.add('border-hostel-type-' + transformedType);
            }
        });
    });

    function filterRows(category) {
        const rows = document.querySelectorAll('.suggestion-row');
        rows.forEach(row => {
            const typeElement = row.querySelector('td span');
            if (typeElement) {
                const type = transformType(typeElement.innerText);
                if (category === 'all' || type === category) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            }
        });
    }

    const filterButtons = document.querySelectorAll('.filter-btn');
    filterButtons.forEach(button => {
        button.addEventListener('click', function() {
            const category = this.getAttribute('data-filter');
            filterRows(category);
        });
    });
</script>
</body>
</html>